* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  max-width: 500px;
  margin: 0 auto;
}

.app__header {
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.appHeaderImage {
  object-fit: contain;
}